.App {
    text-align: center;
  }
  body {
    background: url("./naruto.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
  }
  
  